$baseColor : #212121;
$subBaseColor : #FFFFFF;
$activeColor:  #2196f3;
$descriptionsColor : #757575;
$baseBackgroundColor : #2F303A;
$shadowColor : rgba(0, 0, 0, 0.15);
$mainBackground : rgba(47, 48, 58, 0.8);
$backdrop : #0000003e;
$borders : rgba(33, 33, 33, 0.2);
$shadowSubColor : rgba(0, 0, 0, 0.2);
$shadow : rgba(0, 0, 0, 0.14);
$shadowSub : rgba(0, 0, 0, 0.12);